/*********************/
/* basic page/blocks layout */
/* wireframe for debugging */ /*div {border:1px dotted grey; }*/
body{
margin:10px;
}
/* ********************* */
/* header */
#header{
margin-bottom:1em;
height:90px;
}
#site-name{
    display:inline;
    padding-left:20px;
    position:absolute;
    top:20px;
}
#logo{
    display:block;
    padding-top:10px;
    float:left;
}
/*#top-menu {position: absolute; top: 50px; display:inline-block; padding-left: 20px; left:30%; }

#query-input { padding: 4px;  max-width:700px;  }
#repositories {margin: 6px 0px; }
#notify {display:none; /\* max-width: 400px; position: relative; overflow: auto; height: 40px; *\/}
#user {text-align: right;}
#welcome {max-width: 600px; padding: 10px;}
*/
/* ********** */
/* menu */
#menu{
    display:inline;
}
#top-menu{
    display:inline;
    position:absolute;
    top:50px;
}
#top-menu li{
    display:inline;
    padding:0 1em;
    background:none;
}

#user {float:right;}

/* set the box-model to border for easier widths setting */
#navigation, #main, #detail,
.static-text, .intro-image{
/*    float:left;*/
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    -moz-background-clip:padding-box !important;
    -webkit-background-clip:padding-box !important;
    background-clip:padding-box !important;
/*    border:1px dashed red;*/
    margin-right: 1%; 
}

    
/* basic positioning of the main blocks on the screen */
@media all and (min-width: 1200px) {
    #navigation, #detail { position:absolute; bottom:0; top:110px; overflow: auto;  }
    #main { position:absolute; bottom:0; top:110px; overflow: hidden;  }
    #results {overflow: auto; height:90%;}
    
    #navigation { width:24%; min-width:150px; float:left;    /*margin-right:1em; */ }
    /*#left-menu {float: left; width:250px; height:500px; overflow:auto;}*/
    #main{    /* margin-left:2em;     float:left; */ position:absolute;    left:25%; width:29%; /* + 1% margin-right */ }
    #detail {     right:0; width:45%;     margin-right:0; }
}

@media all and (max-width: 1199px) {
    #navigation-main-wrapper {position:absolute; top:110px; bottom:0; overflow:auto; width:39%; min-width:150px; }
    #navigation, #main { float:none;}
    #navigation { /* width:100%; margin-right:1em; */ }
    /*#left-menu {float: left; width:250px; height:500px; overflow:auto;}*/
    #main{    /* margin-left:2em;     width:39%; *//* + 1% margin-right */ }
    #detail {     position:fixed; right:0; width:59%;     margin-right:0; }
}
/*******************/
/* main */

.static-text{
    float:left;
    width:40%;
    max-width:600px;
    padding:10px;
    margin-left: 5%;
/*    clear:both;*/
}

.intro-image {
    float: left;
    padding: 30px;
    width: 40%;
}

.intro-image img { width: 100%; }

/* resource overview */

.data-view.metadata {
/*    display: table-cell;
    vertical-align: top;
    clear: both; */
}

.data-view.metadata > h4 {
    margin: 1em 0;
}

.record {
    margin: 1em 0;
/*    border-top: 1px solid #A8A7A3;*/
}

#query-input,
.record .header {    
    padding: 0 5px;
}

.record .header .links a {
    display: inline-block;
    padding-right: 7px;
}



/*.listing {max-width: 600px;}*/
#results{
    float:left;
}

.result-header .note {display:none;}

.result-navigation {float:right;}

/*.result-body, .detail-content {overflow: auto; height:90%;}*/

/*#content, #main {float: left;}*/
/*******************/
/* detail */


#detail .navigation {float:right;}

#detail .data-view.full, #detail .data-view.facs {
     width: 48%;
    float:left;
}

/* helper to finish off floating sequences */
.div-after {
    clear:both;    
}

#detail .data-view img {
    width: 100%;    
}


/* padding-top: 5em;
			#impressum {float:left; margin-left: 2%; width:60%; }
			#detail {float:right; width:36%; display:none; }
			#detail-front {float:right; width:35%; margin-top:7em; margin-left:3%;}
*/
/* customize jquery-ui*/
.ui-widget{
    font-size:1em;
    font-family:inherit;
}
.ui-accordion .ui-accordion-content{
    padding:4px 8px;
}
.ui-widget-header{
    padding-left:6px;
}
.ui-widget-content{
    padding:6px;
}
.ui-dialog{
    padding:0px;
}
.ui-dialog .ui-dialog-titlebar{
    padding:0 0 0 6px;
}

@media print {
/*	ul { list-style-type: disc;	} */	
	button {display:none;}
    .select-layout {display:none}
}

/*
 * .ui-accordion .ui-accordion-header { 	padding-left: 12px; }
.ui-accordion .ui-accordion-header .ui-icon {	left: -0.2em; }
	
.ui-widget {font-size: 1em; font-family: inherit;}
	.ui-tabs .ui-tabs-panel { padding:1em;}
	.ui-tabs .ui-tabs-nav li a, .result-header {padding: 0.2em 0.5em; }
	.ui-accordion .ui-accordion-header a {padding: 0.1em 0.3em;}
    .ui-datepicker {width: auto;}  
    .ui-datepicker table {width: 100%;}
    .ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {    width: auto; }*/
