/* ************** */
/* THEME = setting fonts and colors */


html {    line-height: 1.5em; }

html, body, table{ 
    font-size: 12px; 
    font-family: Helvetica, Tahoma, "Segoe UI", sans-serif;
    
}	

#header {
    background-color: #fafaff;
    border-bottom: 1px solid #014172;
}

#site-name {
    font-family: Helvetica, Tahoma, Verdana, sans-serif; 
    font-size: 1.8em;
    font-weight: bold;
    color: #014172; /* #c00000;*/    
}

a, a:link, a:hover {
    color: #c00000;
}

input, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget area, .ui-widget button {
    border:  1px solid #A6C9E2;
}
 
div.teaser {clear:both; border-top: 1px solid #A6C9E2; padding: 1em 0; }
img.teaser { float:left; margin-right: 1em; margin-bottom: 1em;}
 
label, .label, .cmds-elem-prop .label { font-size: 0.9em; color: #014172; font-style: italic; }


.kwic em , .hilight { font-size: 1.1em; font-weight: bold;  margin: 0 0.2em;}