<?xml version="1.0" encoding="UTF-8"?>
<config type="module">
    <module key="resource">
        
        (: credentials :)
        declare variable $username := '1013-01';
        declare variable $password := 'xieS5ohg';
        
        
        declare variable $baseurl  := 'http://clarin.aac.ac.at/cr/get/';
        declare variable $id  := 'at.icltt.cr.dict-gate.2';
        declare variable $url  := concat($baseurl, $id);
        
        (: URI of the REST interface of eXist instance :)
        declare variable $rest := 'http://pid-test.gwdg.de/handles/11022/';
        
        <param key="pid-service">http://pid-test.gwdg.de/handles/11022/</param>
        <param key="pid-resolver">http://hdl.handle.net/11022/</param>
        <param key="pid-username">1013-01</param>
        <param key="pid-pwd">xieS5ohg</param>
    </module>
</config>