<?xml version="1.0" encoding="UTF-8"?>
<config type="module">
    <module key="resource">
        <param key="pid-service">http://pid-test.gwdg.de/handles/11022/</param>
        <param key="pid-resolver">http://hdl.handle.net/11022/</param>
        <param key="pid-username">1013-01</param>
<!-- TODO: hide from param-list!
            <param key="pid-pwd" type="hidden">-</param>-->
    </module>
</config>