<?xml version="1.0" encoding="UTF-8"?>
<config type="module">
    <module key="shared"/>
    <container key="html-head">
        /* added by shared-module */
        <script type="text/javascript" src="modules/shared/scripts/js/webtoolkit.sprintf.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/query_input/qi_cql.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/query_input/CQLConfig.js"/>
    </container>
</config>