<?xml version="1.0" encoding="UTF-8"?>
<div id="detail">
    
    <!-- Tabs -->
    <h2>Detailansicht</h2>
    <div class="detail-header"/>
    <div id="tabs">
        <ul>
            <li>
                <a href="#tabs-1">Text</a>
            </li>
            <li>
                <a href="#tabs-3">Facsimile</a>
            </li>
            <li>
                <a href="#tabs-4">TEI/XML</a>
            </li>
        </ul>
        <div id="tabs-1"/><!-- end of tabs-1 -->
        <div id="tabs-2"/><!-- end of tabs-2 -->
        <div id="tabs-3"/>
        <div id="tabs-4"/>
    </div>
    <div id="context-detail"/>
</div><!-- end div.detail -->