<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" id="header">
    <span id="logo" class="app:logo">
        <a href="./index.html">
            <img src="images/logo.png"/>
        </a>
    </span>
    <div id="site-name">
        <!--                <a class="config:app-title brand" href="./index.html">App Title</a>-->
        <span class="app:info?key=project-title brand">App Title</span>
    </div>
    <div class="templates:include?path=navigation.html">navigation</div>
</div>