<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" id="header" class="ui-widget-header">
    <a href="./index.html">
        <span id="logo" class="app:logo">
            <img src="images/logo.png"/>
        </span>
    </a>
    <div id="site-name">
        <!--                <a class="config:app-title brand" href="./index.html">App Title</a>-->
        <a href="./index.html">
            <span class="app:info?key=project-title brand">App Title</span>
        </a>
    </div>
    <div class="templates:include?path=menu.html">menu</div>
    <div class="app:user"/>
    <span id="persistent-link-wrapper">
        <a id="persistent-link" href=".">link</a>
    </span>
</div>