<?xml version="1.0" encoding="UTF-8"?>
<div xmlns="http://www.w3.org/1999/xhtml" id="header" class="ui-widget-header">
    <!-- from header.html -->
    <span id="logo" class="app:logo">
        <a href="./index.html">
            <img src="images/logo.png"/>
        </a>
    </span>
    <div id="site-name">
        <a href="./index.html">
            <span class="app:info?key=site-name">App Title</span>
        </a>
    </div>
    <div class="templates:include?path=menu.html">menu</div>
    <div id="message" class="templates:include-detail?path-detail=content/message.xml&amp;filter=div/(*|text())"/>
    <div id="user" class="app:user"/>
    <div class="inst-logos templates:include-detail?path-detail=content/inst-logos.xml&amp;filter=div/(*|text())"/>
</div>