<?xml version="1.0" encoding="UTF-8"?>
<div id="main">
    <div class="templates:if-parameter-unset?param=query">
        <div class="templates:include?path=content/welcome.xml">welcome</div>
    </div>
                
    <!--<div class="templates:if-parameter-set?param=query">-->
    <div class="templates:include?path=query_input.html">search</div>
    <div class="templates:if-parameter-set?param=query">
        <div id="results" class="fcs:query">
<!--            ?x-dataview=full-->
            <p>Found: <span id="hit-count" class="fcs:hit-count"/> matches.</p>
            <div class="fcs:show-hits?howmany=20"/>
        </div>
    </div>
</div>