<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=11"/>
        <title class="app:title">App Title</title>
        <meta class="config:app-meta"/>
        <link rel="icon" type="image/ico" href="favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="modules/shared/scripts/css/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="modules/shared/scripts/css/jquery-ui-1.10.4.custom-smoothness/jquery-ui-1.10.4.custom.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/theme.css"/>
        <link rel="stylesheet" type="text/css" href="css/layout.css"/>
        <link rel="stylesheet" type="text/css" href="css/elements.css"/>
        <style type="text/css">.browsehappy {display: none; display: block\9; /* only IE 10 and less browsers interpret this! */ }</style><!--[if IE]><style>.browsehappy {display: block;}</style><![endif]-->
        <script type="text/javascript" src="modules/shared/scripts/js/modernizr-2.8.3.min.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery/jquery-1.11.2.min.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery/jquery-migrate-1.2.1.min.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery/jquery-ui-1.10.4.custom.min.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery/jquery.treeview.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery/jquery.modern-blink.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery/jquery.selection.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/codemirror/codemirror.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/codemirror/mode/xml/xml.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/URI.js"/>
        <script type="text/javascript" src="js/main.js"/>
        <script type="text/javascript" src="js/detail.js"/>
        <link class="config:html-head"/>
    </head>
    <body id="body">
        <div id="options-invoke" title="Layout-Optionen" class="fa fa-desktop"/>
        <input type="radio" id="col-layout-1c" name="layout-switch"/>
        <input type="radio" id="col-layout-2c" name="layout-switch"/>
        <input type="radio" id="col-layout-3c" name="layout-switch"/>
        <input type="radio" id="col-layout-auto" name="layout-switch" checked="checked"/>
        <div id="options-labels" class="bg">
            <span>Layout</span>
            <label for="col-layout-1c" id="label-1c" class="col-layout-label">1 Spalte</label>
            <label for="col-layout-2c" id="label-2c" class="col-layout-label">2 Spalten</label>
            <label for="col-layout-3c" id="label-3c" class="col-layout-label">3 Spalten</label>
            <label for="col-layout-auto" id="label-auto" class="col-layout-label">automatisch</label>
        </div><!--
        This line is visible in browsers that are known to be outdated and not supported anymore by their vendors. -->
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <div class="templates:include?path=header.html"/>
        <div id="content-container" class="container-fluid"/>
    </body>
</html>