<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head>
        <title class="app:title">App Title</title>
        <meta class="config:app-meta"/>
        <link rel="shortcut icon" href="images/favicon.ico"/>
<!--        <link rel="stylesheet" type="text/css" href="css/normalize.css"/>-->
        <link rel="stylesheet" type="text/css" href="style/custom-theme/jquery-ui-1.8.18.custom.css"/>
        <link rel="stylesheet" type="text/css" href="css/theme.css"/>
        <link rel="stylesheet" type="text/css" href="css/layout.css"/>
        <link rel="stylesheet" type="text/css" href="css/elements.css"/>
        <link rel="stylesheet" type="text/css" href="css/custom.css"/>
        <!--<link rel="stylesheet" type="text/css" href="modules/shared/scripts/style/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="modules/shared/scripts/style/jquery/base/jquery.ui.resizable.css"/>
        <link rel="stylesheet" type="text/css" href="modules/shared/scripts/style/jquery/base/jquery.ui.all.css"/>
        
        -->
        
<!--        <link rel="stylesheet" type="text/css" href="modules/shared/scripts/style/cmds-ui.css"/>-->
        <script type="text/javascript" src="modules/shared/scripts/js/jquery/jquery.min.js"/>
        <script type="text/javascript" src="modules/shared/scripts/js/jquery/jquery-ui.min.js"/>
        <script type="text/javascript" src="js/detail.js"/>
<!--        <script types="text/javascript" src="modules/shared/scripts/js/query_input/qi.js"/>
-->        
        <!--    <script type="text/javascript" src="sade/modules/fcs/scripts/js/jquery/jquery.tablesorter.js"/>
            <script type="text/javascript" src="sade/modules/fcs/scripts/js/jquery/jquery.uitablefilter.js"/>
        -->
        <link class="config:html-head"/>
    </head>
    <body id="body">
        <div class="templates:include?path=head.html"/>
        <div id="content-container" class="container-fluid"/>
    </body>
</html>